<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="crm.qa.pages.test.TasksPageTest"/>
      <class name="crm.qa.pages.test.LoginPageTest"/>
      <class name="crm.qa.pages.test.HomePageTest"/>
      <class name="crm.qa.pages.test.DealspageTest"/>
      <class name="crm.qa.pages.test.ContactsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
